#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	./bootstrap
	dh_auto_configure -- --bindir=/usr/sbin

override_dh_auto_build:
	dh_auto_build
	pod2man doc/monit.pod > monit.1

override_dh_auto_install:
	dh_auto_install

override_dh_installinit:
	dh_installinit -- "start 99 2 3 4 5 . stop 01 0 1 6 ."

override_dh_fixperms:
	dh_fixperms
	chmod 600 debian/monit/etc/monit/monitrc
	chmod 0700 debian/monit/var/lib/monit/events

override_dh_clean:
	dh_clean
	rm -fr aclocal.m4 config.h.in configure y.output monit.1 .pc
